.promo-slider {
    position: relative;
}

.promo-slider .priv_arrow {
    position: absolute;
    top: 45%;
    left: 2%;
    z-index: 2;
    color: #fff;
}

.promo-slider .priv_arrow i {
    font-size: 50px;
    opacity: 0.5;
    cursor: pointer;
}

.promo-slider .priv_arrow i:hover {
    opacity: 1;
}

.promo-slider .next_arrow {
    position: absolute;
    top: 45%;
    right: 2%;
    z-index: 2;
    color: #fff;
}

.promo-slider .next_arrow i {
    font-size: 50px;
    opacity: 0.5;
    cursor: pointer;
}

.promo-slider .next_arrow i:hover {
    opacity: 1;
}
